:root {
  --title-color: #212121;
  --hero-title-color: #fff;
  --text-color: #757575;
  --text-color-secondary: #fff;
  --primary-bcg-color: #fff;
  --accent-color: #2196f3;
  --element-gap: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--title-color);
  background-color: var(--primary-bcg-color);

  padding-top: 81px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button {
  display: block;
  padding: 10px 32px;
  margin: 0 auto;
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--text-color-secondary);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

/* -----------------HEADER----------------- */

.header {
  position: fixed;
  z-index: 999;
  background-color: var(--primary-bcg-color);
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  border-bottom: 1px solid #ececec;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-black {
  color: #000;
}
header .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-right: 50px;
}
.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;

  color: var(--accent-color);
}

.nav-link.current::after {
  content: '';

  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-item {
  margin-right: 50px;
}
.contacts-item:last-child {
  margin-right: 0;
}

.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* -----------------HERO----------------- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 1600px;

  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-content {
  margin: 0 auto;
  max-width: 696px;
}

.hero-title {
  margin-bottom: var(--element-gap);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

/* -----------------FEATURES----------------- */

.features.section {
  padding-bottom: 0;
}

.features-list {
  display: flex;
}

.features-item {
  margin-right: var(--element-gap);
  max-width: 270px;
}
.features-item:last-child {
  margin-right: 0;
}

.features-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-item-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.features-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* -----------------SERVICES----------------- */

.services-list {
  display: flex;
}

.services-item {
  margin-right: var(--element-gap);
  max-width: 100%;
}
.services-item:last-child {
  margin-right: 0;
}

.services-item-wrap {
  position: relative;
}

.services-item p {
  position: absolute;
  bottom: 0;

  padding: 27px 0;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-color-secondary);
  background-color: rgba(47, 48, 58, 0.8);
}

/* -----------------TEAM----------------- */

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-item {
  max-width: 270px;

  background-color: var(--primary-bcg-color);
  margin-right: var(--element-gap);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:last-child {
  margin-right: 0;
}

.team-wrapper {
  padding: 30px 5px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 10px;
}

.team-text {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-align: center;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item {
  margin-right: 10px;
}
.team-soc-item:last-child {
  margin-right: 0;
}

.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  color: #fff;
}

/* -----------------CLIENTS----------------- */

.clients-list {
  display: flex;
}

.clients-item {
  max-width: 170px;
  margin-right: var(--element-gap);
}
.clients-item:last-child {
  margin-right: 0;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transform: scale(1);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  transform: scale(1.1);
}

/* -----------------PORTFOLIO----------------- */

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-item {
  margin-right: 8px;
}
.portfolio-item:last-child {
  margin-right: 0;
}

.portfolio-btn {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  box-shadow: none;
  background-color: #f5f4fa;
  color: #212121;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn.current {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  color: var(--text-color-secondary);
  background-color: var(--accent-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--text-color-secondary);
  background-color: var(--accent-color);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--element-gap));
  margin-bottom: calc(-1 * var(--element-gap));
}

.card-item {
  flex-basis: calc((100% / 3)- var(--element-gap));
  margin-right: var(--element-gap);
  margin-bottom: var(--element-gap);
}

.card-item-link {
  display: block;
  width: 100%;

  box-shadow: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-item-link:hover,
.card-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.card-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  background-color: rgba(33, 150, 243, 0.9);
  color: var(--text-color-secondary);
}
.card-item-link:hover .card-overlay-text,
.card-item-link:focus .card-overlay-text {
  transform: translate(0);
}

.card-item-bottom {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card-item-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.card-item-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* -----------------FOOTER----------------- */

.footer {
  padding: 60px 0;

  background-color: #2f303a;
}

.footer-container {
  display: flex;
}

.footer-content {
  width: 231px;
}

.logo-white {
  color: #fff;
}
footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.address-item {
  margin-bottom: 9px;
}
.address-item:last-child {
  margin-bottom: 0;
}

.address-link[target] {
  color: var(--text-color-secondary);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.footer-container {
  align-items: baseline;
}

.footer-soc strong,
.footer-form-wrap strong {
  display: block;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-color-secondary);
}

.footer-soc {
  margin-left: 70px;
}

.footer-soc-list {
  display: flex;
}

.footer-soc-item {
  margin-right: 10px;
}
.footer-soc-item:last-child {
  margin-right: 0;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #fff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
  fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-form-wrap {
  margin-left: 93px;
  width: 570px;
}

.footer-form {
  display: flex;
}

.footer-input {
  width: 358px;
  height: 50px;
  padding: 15px;

  background-color: transparent;
  color: var(--text-color-secondary);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.subscribe-btn {
  position: relative;

  width: 200px;
  padding: 10px 62px 10px 29px;
  margin-left: 12px;
}

.icon-subscribe {
  position: absolute;
  top: 13px;
  right: 28px;
}

/* -----------------MODAL----------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--primary-bcg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 300ms linear;
}

.modal-close-btn {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background-color: var(--primary-bcg-color);
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-close-btn > svg {
  fill: currentColor;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: var(--accent-color);
}

.modal-title {
  display: block;

  margin: 0 auto 12px auto;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.modal-label {
  display: block;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-label span {
  position: relative;
  display: block;
}

.modal-icon {
  position: absolute;
  top: 11px;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label + .modal-label {
  margin-top: 10px;
}

.modal-text {
  display: block;

  margin-top: 4px;
  padding: 11px;
  padding-left: 42px;
  width: 100%;
  height: 40px;

  color: #000;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.modal-text:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-text::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea {
  resize: none;
  min-height: 120px;
  overflow: auto;
  padding: 12px 16px;
}

.policy-label {
  position: relative;

  display: block;

  max-width: 425px;
  margin: 20px auto 30px;
  padding-left: 24px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  /* text-align: center; */
}

.policy-label a {
  color: var(--accent-color);
}

.policy-checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.icon-check {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);

  border: 2px solid var(--title-color);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.policy-checkbox:checked + .icon-check {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  outline: none;
}

.no-scroll {
  overflow: hidden;
}
